<form>
        <div class="req_random_wrapper">
            <input type="radio" class="i-1" name="jokeType" id="random" value="random" checked>
            <label for="random">Random</label>
        </div>
        <div class="req_categories_input_wrapper">
            <input type="radio" class="i-1" name="jokeType" id="categories" value="categories">
            <label for="categories">Form categories</label>
        </div>
        <div class="categories_wrapper hide" id="categoriesWrapper">

        
        </div>
        <div class="req_search_wrapper">
            <input type="radio" class="i-1" name="jokeType" id="search" value="search">
            <label for="search">Search</label>
        </div>
        <input type="text" class="search_text_input hide" name="searchInput" id="searchInput" placeholder="Free text search..." >


        <button>Get a joke</button>
</form>