//main wrapper 
body,html{
    @apply min-h-screen;
    overflow: auto;
    
}

.main_wrapper{
    @apply p-5 overflow-auto container min-h-full m-auto w-full relative md:m-auto md:p-2 md:pt-5 xl:max-w-[960px] xl:m-0;
    .content_wrapper{
        @apply xl:max-w-[680px] xl:m-auto
    }
   
};
//main wrapper 

//header
.header{
    @apply flex justify-between items-center ;
    .logo{
        @apply text-xl font-bold ;
    }
    .burger_menu{
        @apply flex gap-3 items-center relative z-20 cursor-pointer xl:hidden;
        .burger_menu_title{
            @apply text-xl font-medium text-sub_main_color  ;
        }
    }

}
//header

//title
.title_wrapper{
    @apply mt-20;
    h1{
        @apply text-3xl font-bold;
    }
    h2{
        @apply text-2xl font-medium;
    }
}
//title

//form
form{
    
    @apply flex flex-col mt-11;
    
    label{
        @apply text-lg font-normal cursor-pointer leading-7 ;
    }


    button{
        @apply self-start mt-5 bg-gradient-to-r from-cyan-500 to-blue-500 text-white font-bold text-lg px-10 py-2 rounded-xl;

    }
    input[type=text]{
        @apply mt-5 cursor-text shadow-xl rounded-xl  border-emerald-950 font-normal text-lg leading-6 p-2;
        border-width: 2px;
   

    }
}
//form
//categories
.categories_wrapper{

    @apply grid grid-cols-4 gap-1 my-5;
    li{
        @apply  flex justify-center ;



        input[type=radio] {
                appearance: none;
                -webkit-appearance: none;
        
            };
        @apply border-2 rounded-md border-light_grey;
        label{
            
            @apply px-3 py-1 cursor-pointer text-center w-full h-full text-xs font-medium text-sub_main_color duration-150 ease-in-out xl:text-sm;
            &:hover{
                @apply bg-light_grey text-zinc-950;
            }
            
        };
               
   
    }
        li {
            list-style-type: none;
        }

}
//categories 


//jokes
.joke{
    
    @apply bg-light_grey pt-12 px-5 pb-5 flex justify-between items-start mt-4 relative rounded-xl md:max-w-[754px] md:justify-normal md:gap-5 md:px-10 md:pt-16 md:pb-10;
   
    div {
          @apply flex flex-col mt-4 w-4/5 md:w-[614px];
           
        }
    img{
        
    }    
    .like_btn{
        @apply absolute cursor-pointer;
        top: 7%;
        right: 6%
    }
    p{
        @apply w-60 text-lg font-normal mb-10 md:w-auto mb-0 max-w-540px;
        
    }
    h3{
        @apply self-start mt-4 py-1 px-4 bg-white rounded-md text-xs font-medium leading-4 uppercase md:self-end;
        letter-spacing: 2px;
    }
    
}
//jokes



.hide{
    @apply hidden
}
.focus{
    @apply bg-light_grey font-medium text-slate-950 #{!important};
    
}
.overlay{
    @apply w-full fixed top-0  left-[-32px] bottom-0 right-0 min-h-full pointer-events-auto ;
    
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}


// sidebar
.sidebar{
    @apply container bg-light_grey absolute z-10 top-0 min-h-screen right-0 md:w-[56%] xl:block max-w-[480px];
    
    .sidebar_title{
        @apply hidden xl:block xl:m-10 font-medium text-xl text-sub_main_color;
    }
    .favorite_jokes_wrapper{
        
        @apply flex flex-col mt-16  items-center justify-center min-h-full bg-light_grey xl:mt-5;
        .joke {
                @apply bg-white rounded-xl gap-5 md:pt-12 md:px-5 md:pb-5 xl:pb-12;  
                border: 1px solid #F8F8F8;
                box-shadow: 0px 4px 6px 0px #0000001A;
                .like_btn{
                    @apply top-[10%]
                }
                div{
                    @apply md:w-[298px];
                }
                p {
                    @apply text-sm font-normal;
                }
                h3{
                    @apply hidden ;
                }
         }

}
    
}
//sidebar






.title_wrapper{
    @apply z-0 relative;
}
.form_wrapper {
    @apply z-0 relative;
}
.jokes_wrapper{
        @apply z-0 relative;
    }
